*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(339deg, #0d201b, #01002e, #1b332d, #002033);
  background-size: 400% 400%;
  padding: 0;
  margin: 0px;
}
.content-tb{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content:center ;
  flex-direction: column;
}
#myInput{
  background-image: url('icon.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border: 0;
  outline: 0;
}
.tableDATA{
  overflow-x:auto ;
  overflow-y:auto ;
}
.tableData {
  font-family: "Audiowide", sans-serif;
  border-collapse: collapse;

}
th {
  border-bottom: 2px inset;
  padding-top: 15px;
  padding-bottom: 15px;
  background:purple ;
  color: white;
  font-size: clamp(10px,2vw,20px);
  width: 10%;

}
td {
  border-bottom: 2px inset;
  font-size: clamp(8px,1vw,16px);
  padding: 10px;
  text-align:center;
  color: white;
  background:rgba(201, 165, 238, 0.27) ;
} 
tr:hover{
  background: rgb(6, 234, 246);
  z-index: 1;
}