body {
  background-image: url("BG1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 1280px 800px; */
}
.content-main{
  width: 100%;
}
.content-tb{
  width: 1400px;
  height: auto;
  display: flex;
  justify-content:center ;
  flex-direction: column;
}
#myInput{
  background-color: rgb(201, 165, 238);
  width: 30%;
  padding: 10px;
  border: 0;
  outline: 0;
}
.tableDATA {
  font-family: "Audiowide", sans-serif;
}
th {
  padding-top: 15px;
  padding-bottom: 15px;
  background:purple ;
  color: white;
  font-size: 20px;
  width: 200px;
}
td {
  padding: 10px;
  text-align:left;
  color: white;
  background:rgba(201, 165, 238, 0.27) ;
} 
tr:hover{
  background: rgb(6, 234, 246);
  z-index: 1;
}