* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: fit-content;
}

.form {
  font-family: "Audiowide", sans-serif;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 390px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 2.5%;
}

.insert-form {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  width: 100%;
  padding: 20px;
  border: 0;
  outline: 0;
  transition: 0.3s;
}

input:focus {
  background-color: rgba(142, 214, 214, 0.277);
  outline-width: 0;
}

.btn-submit {
  color: white;
  font-family: "Audiowide", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  outline: 0;
  border: 0;
  background-color: #814fc3;
  z-index: 0;
  cursor: pointer;
  position: relative;
}

.btn-submit:before {
  content: "";
    background: linear-gradient(45deg,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
.btn-submit:hover:before {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .form {
    width: 100%;
    margin-top: 0;
  }
}