.insert-form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1.25em;
  border-radius: 5px;
}

input {
  margin: 0 0 0.4em 0;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
  border: 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.12);
  line-height: 40px;
}

[type="text"] {
  padding-left: 1em;
}

[type="submit"] {
  color: white;
  background-color: #2980b9;
  font-weight: 600;
}

[type="text"]:focus {
  border: 0;
  border-bottom: 5px solid #2980b9;
  color: #2c3e50;
  outline: none;
}
[type="submit"]:hover {
  transform: translateY(-2px);
}

[type="submit"]:active {
  transform: translateY(2px);
}
