body {
  background-image: url("BG1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 1280px 800px; */

}

img {
  position: absolute;
}
.circle {
  content: "";
  position: absolute;
  width: 400px; /* ความกว้าง */
  height: 400px; /* ความสูง */
  background-image: linear-gradient(to right, #af01ef , #291b5a , #ab52cc );
  border-radius: 200px;
  right: 38px;
  left: 969px;
  top: 288px;
  z-index: -1;
  filter: blur(2px);
}



/*nameMain*/
.nameMain {
  font-family: "Audiowide", sans-serif;
  background: linear-gradient(to right, #ab52cc 10%, #af01ef 50%, #291b5a 90%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text; /*เลือก text*/
  -webkit-text-fill-color: transparent; /*เลือกพพื้นที่ของ text*/
  animation: animate 4s linear infinite;
  font-size: 100px;
  
}
@keyframes animate {
  to {
    background-position: 200% center;
  }
}
/*nameMain*/
h2 {
  font-family: "Roboto", sans-serif;
  color: white;
}
.mainBtn {
  top: 141.222;
  margin-top: 42px;
  left: 293px;
  display: block;
  position: absolute;

}
.glow-on-hover {
  font-family: "Audiowide", sans-serif;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #814fc3;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:hover:before {
  opacity: 1;
}

