body {
  background-image: url("BG1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 1280px 800px; */

}

.tableDATA {
  font-family: "Audiowide", sans-serif;
  /* border-collapse: collapse; */
  
  
}

th {
  padding-top: 15px;
  padding-bottom: 15px;
  background:purple ;
  color: white;
  font-size: 20px;
  width: 200px;
  
}


td {
  padding: 10px;
  text-align:left;
  color: white;
  background:rgba(201, 165, 238, 0.27) ;
  
} 
tr:hover{
  background: rgb(6, 234, 246);
  z-index: 1;
}